* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 25px;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar a {
  display: block;
  padding: 14px 0;
  color: #d1d5db;
  cursor: pointer;
}

.sidebar a:hover {
  color: white;
}

.content {
  flex: 1;
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px #ddd;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}

.table-box {
  background: white;
  margin-top: 30px;
  padding: 25px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}